<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Matricula de semestre</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_creacion" action="{% url 'routers_institucional:tramites_funcionario-crear-usuario-estudiante' %}" method="POST">
            <div class="modal-body">
                
                <div class="alert alert-primary p-0" role="alert">
                    <h3 class="text-center p-0 m-0">Crear Usuario para estudiante</h3>
                </div>
                {% csrf_token %}
                <div id="erroresEdicion">

                </div>
                <label>{{ form.codigo.label }}</label>
                {{ form.codigo }}

                <label>{{ form.correo_electronico.label }}</label>
                {{ form.correo_electronico }}


            </div>
            
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" onclick="cerrar_modal_edicion();">Cancelar</button>
                <button id="boton_creacion2" class="btn btn-primary" type="button"
                    onclick="agregar2();">Confirmar</button>
            </div>
        </form>
    </div>
</div>

{% block extra_js %}
<script>
    function agregar2() {
        let access_token = localStorage.getItem('Token'); 
        activarBoton();
        $.ajax({
            data: $('#form_creacion').serialize(),
            url: $('#form_creacion').attr('action'),
            type: $('#form_creacion').attr('method'),
            headers: { "Authorization": 'Bearer ' + access_token},
            success: function (response) {
                // guardar informacion en el local storage 
                localStorage.setItem("id_Usuario", response.usuario);
                localStorage.setItem("Password", response.password);
                notificacionSuccess(response.mensaje)
                setTimeout(() => {
                    redireccion_url("/institucional/usuario_creado/");

                }, 1000)
            },
            error: function (error) {
                notificacionError(error.responseJSON.mensaje);
                mostrarErroresCreacion(error);
                activarBoton();
            }
        });
    }
</script>
{% endblock extra_js %}
