<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Matricula de semestre</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_edicion" action="{% url 'institucional:crear_usuario_docente' %}" method="POST">
            <div class="modal-body">
                
                <div class="alert alert-primary p-0" role="alert">
                    <h3 class="text-center p-0 m-0">Crear Usuario para Docente</h3>
                </div>
                {% csrf_token %}
                <div id="erroresEdicion">

                </div>
                <label>{{ form.nombres.label }}</label>
                {{ form.nombres }}

                <label>{{ form.apellidos.label }}</label>
                {{ form.apellidos }}

                <label>{{ form.cedula_ciudadano.label }}</label>
                {{ form.cedula_ciudadano }}

                <label>{{ form.correo_electronico.label }}</label>
                {{ form.correo_electronico }}


            </div>
            
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" onclick="cerrar_modal_edicion();">Cancelar</button>
                <button id="boton_creacion2" class="btn btn-primary" type="button"
                    onclick="editar3();">Confirmar</button>
            </div>
        </form>
    </div>
</div>


