{% extends 'index.html' %}

    {% block title %} Usuario creado {% endblock title %}

    {% block extra_js %}
    
    
    
    {% endblock extra_js %}

    {% block body %}
    
            <header class="masthead bg-light Quiensoy text-center">
                <div class="container d-flex align-items-center flex-column">
                    <h2>Creacion satisfactoria de Usuario</h2>
                </div>
            </header>
        
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="alert alert-success col align-self-center" role="alert">
                        <h3 style="text-align: center">Se ha creado exitosamente el Usuario!</h3><br>
                        <p style="text-align: center">Estos datos deben ser entregados al nuevo estudiante</p><br>
                        <p style="text-align: center"><strong>Nombre del Usuario:</strong></p>
                        <H2 style="text-align: center">{{ usuario.username }}</H2>
                        <p style="text-align: center"><strong>Contraseña del Usuario:</strong></p>
                        <h2 style="text-align: center">{{ password }}</h2>
                    </div>
                </div>
            </div>
            
    
        

    {% endblock body %}