{% extends 'index.html' %}
{% load static %}


    {% block title %} Editar Notas {% endblock title %}

    {% block extra_js %}
    <script>
      function edicion_notas() {
        let access_token = localStorage.getItem('Token');
        $.ajax({
            url: `/rest/institucional/tramites_funcionario/agregar_notas_estudiante/`,
            method: 'GET', 
            headers: { "Authorization": 'Bearer ' + access_token},
            success: function(data) {
                let estudiantes = data.estudiantes
                console.log(estudiantes)
                $('#datatablesSimple tbody').html("");
                for (let i = 0; i < estudiantes.length; i++) {
                    let fila = '<tr>';
                    fila += '<td>' + estudiantes[i]['asignatura'] + '</td>';
                    fila += '<td><button type = "button" class = "btn btn-link btn-sm"';
                    fila += ` onclick = "abrir_modal_agregar_notas('/institucional/actualizar_notas/', ${estudiantes[i]['id']});"> ${estudiantes[i]['codigo']} </button></td>`
                    fila += '<td>' + estudiantes[i]["estudiante"] + '</td>';
                    fila += '<td>' + estudiantes[i]["nota_corte_1"] + '</td>';
                    fila += '<td>' + estudiantes[i]["nota_corte_2"] + '</td>';
                    fila += '<td>' + estudiantes[i]["nota_corte_3"] + '</td>';
                    fila += '</tr>';
                    $('#datatablesSimple tbody').append(fila);
                }
            },
        });
      }
    </script>
    
    {% endblock extra_js %}

    {% block body %}
    
            <header class="masthead bg-light Quiensoy text-center">
                <div class="container d-flex align-items-center flex-column">
                    <h2>Listado de estudiantes Matriculados a la asignatura</h2>
                </div>
            </header>
        
            <div class="row">
                <div class="col-11">

                    <table id="datatablesSimple" class="table table-striped table-bordered dt-responsive nowrap table-dark"style="width:100%">
                        <thead>
                          <tr>
                            <th scope="col">Asignatura</th>
                            <th scope="col">Código</th>
                            <th scope="col">Estudiante</th>
                            <th scope="col">Nota corte 1</th>
                            <th scope="col">Nota corte 2</th>
                            <th scope="col">Nota corte 3</th>
                            <th scope="col">Nota Final</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                      </table>

                </div>
                <div class="modal fade" id="edicion" role="dialog">

                </div>
            </div>
            
    
        

    {% endblock body %}