{% extends 'index.html' %}
{% load static %}


    {% block title %} Editar Notas {% endblock title %}

    {% block extra_js %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    
    
    {% endblock extra_js %}

    {% block body %}
    
            <header class="masthead bg-light Quiensoy text-center">
                <div class="container d-flex align-items-center flex-column">
                    <h2>Listado de estudiantes Matriculados a la asignatura</h2>
                </div>
            </header>
        
            <div class="row">
                <div class="col-11">

                    <table class="table table-dark table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Codigo universitario</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Nota corte 1</th>
                            <th scope="col">Nota corte 2</th>
                            <th scope="col">Nota corte 3</th>
                            <th scope="col">Nota Final</th>
                            <th scope="col">Editar</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for estudiante in estudiantes %}
                          <tr>
                            <th scope="row">{{ estudiante.usuario.codigo_universitario }}</th>
                            <td>{{ estudiante.usuario.persona.nombres }}</td>
                            <td>{{ estudiante.usuario.persona.apellidos }}</td>
                            {% for nota in notas %}
                            <td>{{ nota.cortes.nota_corte1 }}</td>
                            <td>{{ nota.cortes.nota_corte2 }}</td>
                            <td>{{ nota.cortes.nota_corte3 }}</td>
                            <td>{{ nota.nota }}</td>
                            <td><button type="button" class="btn btn-primary" onclick="abrir_modal_edicion('/institucional/actualizar_notas/'+{{ nota.id_nota_final }}+'/')">Editar</button></td>
                            {% endfor %}
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>

                </div>
                <div class="modal fade" id="edicion" role="dialog">
                  hola
                </div>
            </div>
            
    
        

    {% endblock body %}