{% extends 'index.html' %}

    {% block title %} Horario de docente para dictar clases {% endblock title %}

    {% block extra_js %}
    
    
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            var calendarEL = document.getElementById('calendar')
            
            var calendar = new FullCalendar.Calendar(calendarEL, {
                timeZone: 'UTC',
                initialView: 'timeGridWeek',
                businessHours: {
                    daysOfWeek: [ 1, 2, 3, 4, 5, 6 ],

                    startTime: '7:00', // a start time (10am in this example)
                    endTime: '22:00', // an end time (6pm in this example)
                },
                headerToolbar: {
                left: 'prev,next',
                center: 'title',
                },
                events: 'https://fullcalendar.io/demo-events.json?with-resources=2'
            });
            calendar.render();
            calendar.setOption('locale', 'es');
        });
    </script>

    {% endblock extra_js %}

    {% block body %}
    
            <header class="masthead bg-light Quiensoy text-center">
                <div class="container d-flex align-items-center flex-column">
                    <h2>Horario para dictar asignaturas a los estudiantes</h2>
                </div>
            </header>
        
            <div class="row">
                <div class="col-11">
                    <div id="calendar" class="container">

                    </div>
                    

                    
                </div>
            </div>
            
    
        

    {% endblock body %}