{% extends 'index.html' %}

    {% block title %} Login {% endblock title %}

    {% block extra_js %}
    
    
    
    {% endblock extra_js %}

    {% block body %}
    
            <header class="masthead bg-light Quiensoy text-center">
                <div class="container d-flex align-items-center flex-column">
                    <h2>Ingresa los datos del estudiante y la carrera a matricularse</h2>
                </div>
            </header>
        
            <div class="row">
                <div class="col-6">
                    <form id="form_creacion" action="{% url 'institucional:generar_recibo' %}" method="POST">


                        {% csrf_token %}
                        <div id="errores">

                        </div>

                        {{ form.as_p }}

                        {{ form2.as_p }}

                        <label for="exampleFormControlInput1" class="form-label">Semestre</lab>
                        <select class="form-select" aria-label="Default select example" name="semestre_estudiante">
                            {% for semestres in semestre %}
                            <option value="{{ semestres.id_semestre }}">{{ semestres.nombre }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <br>
                        <div class="d-grid gap-2 col-4 mx-auto align-items-left">
                            <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrar();">Generar recibo</button>
                        </div>
                    </form>
                </div>
            </div>
            
    

    {% endblock body %}