{% load static %}
{% load has_group %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>  {% block title %}  {% endblock title %} </title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'fullcalendar/lib/main.css' %}">
        <link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/responsive.bootstrap4.min.css' %}" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

        {% block extra_js %} {% endblock extra_js %}
    </head>
<body>
    <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg bg-dark text-uppercase fixed-top" id="mainNav">
              <div class="container">
                  <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">Universidad Mr. J</a>
                  <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                      Menu
                      <i class="fas fa-bars"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">Configuración de Usuario</a></li>
                          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'logout' %}">Cerrar Sesion</a></li>
                      </ul>
                  </div>
              </div>
          </nav>
        </div>
        <div class="col-3" style="margin-top: 100px;">
          <div id="accordion" style="margin-left: 50px; padding-top: 20px;">
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <h3>Funcionario</h3>
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show">
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{% url 'institucional:generar_recibo' %}">Generar recibo</a></li>
                            <li class="list-group-item"><button type="button" class="btn btn-link p-0 m-0"  onclick="eleccion_tipo_usuario()">Crear Usuario</button></li>
                            <li class="list-group-item"><a href="{% url 'institucional:simulador_pago_recibo' %}">Simulador de pago de recibo</a></li>
                          </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <h3>Estudiante</h3>
                    </a>
                  </div>
                  <div id="collapseTwo" class="collapse show">
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{% url 'institucional:matricular_asignaturas' %}">Matricular Asignatura</a></li>
                            <li class="list-group-item"><a href="{% url 'institucional:horario_asignaturas' %}">Horario de asignaturas</a></li>
                            <li class="list-group-item"><a href="{% url 'institucional:revisar_notas' %}">Revisar notas</a></li>
                        </ul>
                    </div>
                  </div>
                </div>  
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <h3>Docente</h3>
                    </a>
                  </div>
                  <div id="collapseThree" class="collapse show">
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{% url 'institucional:editar_notas' %}">Agregar notas</a></li>
                            <li class="list-group-item"><a href="{% url 'institucional:estudiantes_matriculados' %}">Revisar estudiantes matriculados</a></li>
                            <li class="list-group-item"><a href="{% url 'institucional:horario_docente_asignaturas' %}">Horario de dictar asignaturas</a></li>
                        </ul>
                    </div>
                  </div>
                </div>
              
              
            </div>
        </div>
        <div class="col-9">
          
            {% block body %} 
    
            {% endblock body %}
        </div>
      </div>
      <div class="modal fade" id="edicion" role="dialog">

      </div>
</body>

<script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/sweet_alert.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/rest.js' %}" defer></script>
<script src="{% static 'fullcalendar/lib/locales-all.js' %}"></script>
<script src="{% static 'fullcalendar/lib/main.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/datatables-simple-demo.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>


</html>