{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>  {% block title %}  {% endblock title %} </title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'jquery/jquery.js' %}"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        
        {% block extra_js %} {% endblock extra_js %}
    </head>
<body>
    {% block body %} 
    
    {% endblock body %}
</body>



</html>