{% extends 'index.html' %}

    {% block title %} Elegir un horario de asignatura {% endblock title %}

    {% block extra_js %}
    
    
    
    {% endblock extra_js %}

    {% block body %}
    
            <header class="masthead bg-light Quiensoy text-center">
                <div class="container d-flex align-items-center flex-column">
                    <h2>Elige las Asignaturas a matricular</h2>
                </div>
            </header>
        
            <div class="row">
                <div class="col-6">
                    
                    <form id="form_agregar" method="POST" action="{% url 'institucional:elegir_horario' request.user.id %}">
                        {% csrf_token %}
                        <div id="errores">

                        </div>

                        <br>
                        <label for="exampleFormControlInput1" class="form-label">Elige uno de los horarios</label>
                        <select class="form-select" aria-label="Default select example" name="asignatura_horario">
                            <option selected>Elige un Horario</option>
                            {% for horario in horarios %}
                            <option value="{{ horario.id_horario }}">{{ horario.hora_inicio }}  {{ horario.hora_final }}  {{ horario.docente.persona.nombres }}</option>
                            {% endfor %}
                        </select>
                        <div class="d-grid gap-2 col-4 mx-auto align-items-left">
                            <br>
                            <button class="btn btn-primary" id="boton_creacion" type="button" onclick="matricularMateria();">Enviar peticion</button>
                        </div>
                    </form>
                </div>
            </div>
            
    
        

    {% endblock body %}