{% extends 'index.html' %}

    {% block title %} Matricular asignaturas {% endblock title %}

    {% block extra_js %}
    <script>
        function matricular_asignatura() {
            let access_token = localStorage.getItem('Token');
            $.ajax({
                url: `/rest/institucional/tramites_funcionario/matricular_asignatura_estudiante/`,
                method: 'GET', 
                headers: { "Authorization": 'Bearer ' + access_token},
                success: function(data) {  

                    let asignaturas = data.asignaturas
                    $('#tabla_asignaturas tbody').html("");
                    for (let i = 0; i < asignaturas.length; i++) {
                        let fila = '<tr>';
                        fila += '<td>' + asignaturas[i]['asignatura'] + '</td>';
                        fila += '<td>' + asignaturas[i]["aprobado"] + '</td>';
                        fila += '<td><button type = "button" class = "btn btn-primary btn-sm tableButton"';
                        fila += ` onclick = 
                        "
                        abrir_modal_con_parametros(\'/institucional/elegir_horario/\', ${asignaturas[i]['id']});
                        "
                        > Matricular </button>`;
                        fila += '</tr>';
                        $('#tabla_asignaturas tbody').append(fila);
                    }
                    
                },
                error: function (error) {
                    if(error.responseJSON.detail) {
                        let refresh_token = localStorage.getItem('Refresh');
                        let serializado = {"refresh": refresh_token}
                        $.ajax({
                            url: "http://127.0.0.1:8000/api/token/refresh/",
                            type: "POST",
                            data: serializado,
                            success: function (response) {
                                console.log(response.access)
                                localStorage.setItem("Token", response.access)
                                matricular_asignatura();
                            },
                            error: function (errors) {

                            }
                        });
                    }
                    else if(error.responseJSON.error) {
                        notificacionError(error.responseJSON.error);
                    }
                }
            });
        }
    </script>
    
    
    {% endblock extra_js %}

    {% block body %}
    
    <header class="masthead bg-light Quiensoy text-center">
        <div class="container d-flex align-items-center flex-column">
            <h2>Listado de asignaturas matriculadas</h2>
        </div>
    </header>

    <div class="row">
        <div class="col-11">
            <h2>Elige una asignatura a matricular</h2>
                <table class="table" id="tabla_asignaturas">
                  <thead>
                      <tr>
                          <th scope="col">Asignatura</th>
                          <th scope="col">Aprobada</th>
                          <th scope="col">Matricular</th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
        </div>
        <div class="modal fade" id="edicion" role="dialog">

        </div>
    </div>
            
    
        

    {% endblock body %}