{% extends 'index.html' %}

    {% block title %} Tabla para revisar notas {% endblock title %}

    {% block extra_js %}
    
    
    
    {% endblock extra_js %}

    {% block body %}
    
            <header class="masthead bg-light Quiensoy text-center">
                <div class="container d-flex align-items-center flex-column">
                    <h2>Listado de asignaturas matriculadas</h2>
                </div>
            </header>
        
            <div class="row">
                <div class="col-11">

                    <table class="table table-dark table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Asignatura</th>
                            <th scope="col">Docente</th>
                            <th scope="col">Nota corte 1</th>
                            <th scope="col">Nota corte 2</th>
                            <th scope="col">Nota corte 3</th>
                            <th scope="col">Nota final</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for asignatura in asignaturas %}
                                <tr>
                                    <th scope="row">{{ asignatura.asignatura }}</th>
                                    <td>{{ asignatura.horario_asignatura.docente.persona }}</td>
                                    <td>{{ asignatura.nota_corte1 }}</td>
                                    <td>{{ asignatura.nota_corte2 }}</td>
                                    <td>{{ asignatura.nota_corte3 }}</td>
                                    <td>{{ asignatura.nota_final }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>

                    
                </div>
            </div>
            
    
        

    {% endblock body %}